@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html, body{
    font-family: 'Oswald', sans-serif;
    background-image:url(../img/bg-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.container2{
   text-align: center;
   margin-block: 2rem;
}
.container {
    display: inline-block;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1.5rem;
}

  

input[type="number"], select {
    border-radius: 5px;
    border: 1px solid #ddd;
}
select:focus, input:focus{
box-shadow: none !important;
outline: none;
border: none;
}
#buttons{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.btnn {
    background-color: #0ed60e;
    color:black;
    border-radius: 10px;
    padding: 0.7rem;
    margin-block: 1.2rem;
    border: none;
}
.btnn:active{
    background-color: red !important;
    color: black !important;
}

@media (min-width: 900px) {
    .btnn:hover {
        background-color:#06e806;
        color: black;
    }
    .btnn:active{
        background-color: red !important;
        color: black !important;
    }
}


.bmiValue {
    font-weight: bold;
    color: rgb(244, 12, 12);
}

.statusValue {
    font-style: bolder;
    color:green;
}
form label{
    font-weight:600;
    padding-left: 0.2rem ;
}
.results{
    display: flex;
    justify-content: space-between;
}
#descrizione{
    font-size: 1.2rem;
    text-align: center;
}
.descrizione{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #333;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
   
}
.footer-contacts {
    margin-bottom: 1rem;
    color: white;
}

.footer-contacts a {
    margin-right: 10px;
    display: inline-block;
}
.footer-contacts i {
    font-size: 1.5rem;
    color: white;
    transition: ease 1s;
   
}
.footer-contacts i:active{
    color: red;
}
@media (min-width: 900px) {
.footer-contacts i:hover{
    transform: scale(1.6);
    transition: ease 1s;
    color: green;
   
}
}

.disclaimer {
    font-size: 0.8rem;
    color: #ccc;
}
